{% extends "base.html" %}
{% block title %} Избранные авторы {% endblock %}

{% block content %}
    <div class="container">
           <h1> Избранные авторы </h1>
            <!-- Вывод ленты записей -->
                {% for post in page %}
                  <!-- Вот он, новый include! -->
                    {% include "includes/post_card.html" with post=post %}
                {% endfor %}
    </div>

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator%}
        {% endif %}

{% endblock %}